.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .user-card {
    background-color: #a6a2a2;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  img {
    border-radius: 50%;
    max-width: 100px;
    margin-bottom: 10px;
  }
  